@font-face {
  font-family: 'Jalnan 2 TTF';
  src: url('./assets/fonts/Jalnan2TTF.woff2') format('woff2'),
  url('./assets/fonts/Jalnan2TTF.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Jalnan 2 TTF', sans-serif;
}